Flask==3.1.1
Flask-Bcrypt==1.0.1
flask-cors==6.0.1
Flask-JWT==0.3.2
Flask-JWT-Extended==4.7.1
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SocketIO==5.3.5
Flask-SQLAlchemy==3.1.1
future==1.0.0
futures==3.0.5
gast==0.6.0
gensim==4.3.3
geographiclib==2.0
geopy==2.4.1
gevent==24.11.1
git-review==2.4.0
gitdb==4.0.12
gitdb2==4.0.2
GitPython==3.1.44
google==3.0.0
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
goslate==1.5.4
gradio==5.44.1
gradio_client==1.12.1
graphviz==0.20.3
greenlet==3.1.1
groovy==0.1.2
grpcio==1.76.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.15.1
halo==0.0.11
html5lib==0.9999999
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.34.4
humanize==4.11.0
idna==3.11
image==1.5.33
imageio==2.37.0
imgaug==0.4.0
importlib_metadata==8.5.0
inexactsearch==1.0.2
ipykernel==6.28.0
ipython==8.20.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==6.0.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.7.1
jaxlib==0.7.1
keras==3.12.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
keyring==25.4.1
kiwisolver==1.4.9
lazy_loader==0.4
libclang==18.1.1
libretranslatepy==2.1.1
log_symbols==0.0.11
opencv-contrib-python==4.11.0.86
opencv-contrib-python-headless==4.12.0.88
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optional-django==0.1.0
optree==0.17.0
orjson==3.11.3
overrides==7.4.0
packaging==25.0
paho-mqtt==2.1.0
palette==0.2
panda==0.3.1
pandas==2.3.2
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pd==0.0.4
pillow==12.0.0
pipwin==0.5.2

pkginfo==1.10.0
platformdirs==4.1.0
plotly==5.24.1
polars==1.33.1
preprocessing==0.1.13
prometheus-client==0.19.0
prompt-toolkit==3.0.43
proto-plus==1.26.0
protobuf==4.25.8
psutil==5.9.7
psycopg2==2.9.10
psycopg2-binary==2.9.10
pure-eval==0.2.2
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.23
pydantic==2.10.3
pydantic_core==2.27.1
pydeck==0.9.1
pydub==0.25.1
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.19.2
pyjokes==0.6.0
pyjsparser==2.7.1
PyJWT==2.9.0
pylint==3.3.6
pyloco==0.0.139
pymongo==4.14.0
PyMsgBox==1.0.9
pyparsing==3.2.5
PyPDF2==3.0.1
pyperclip==1.9.0
pypiwin32==223
pypng==0.20220715.0
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
python-dateutil==2.8.2
python-dotenv==1.1.1
python-engineio==4.12.3
python-json-logger==2.0.7
python-multipart==0.0.20
python-resize-image==1.1.20
python-socketio==5.14.3
pyttsx3==2.90
pytweening==1.2.0
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.3
pywinpty==2.0.12
PyYAML==6.0.2
pyzmq==25.1.2
qrcode==7.4.2
qtconsole==4.3.1
QtPy==2.4.1
raven==6.1.0
readme_renderer==44.0
referencing==0.32.1
regex==2023.12.25
requests==2.32.5
requests-oauthlib==0.8.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==14.2.0
rpds-py==0.16.2
rsa==3.4.2
ruff==0.12.11
s3transfer==0.11.2
safehttpx==0.1.6
safetensors==0.4.5
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.16.3
seaborn==0.11.2
selenium==3.9.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.1
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
silpa_common==0.3
simple-websocket==1.1.0
simplegeneric==0.8.1
SimpleWebSocketServer==0.1.2
six==1.17.0
sklearn==0.0
smart_open==1.5.6
smmap==5.0.2
smmap2==2.0.3
sniffio==1.3.0
sns==0.1
sounddevice==0.5.3
soundex==1.1.3
soupsieve==2.5
speech==0.5.2
SpeechRecognition==3.14.3
spellchecker==0.4
sphinx-rtd-theme==0.2.4
spinners==0.0.20
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.47.3
stop-words==2015.2.23.1
streamlit==1.49.1
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.19.1
tensorflow-tensorboard==1.5.1
tensorflow_cpu==2.20.0
tensorflow_intel==2.18.0
tensorflow_keras==0.1
termcolor==3.2.0
terminado==0.18.1
terminaltables==2.1.0
testpath==0.3.1
textblob==0.17.1
threadpoolctl==3.5.0
tifffile==2025.9.9
tinycss2==1.2.1
tk==0.1.0
tokenizers==0.21.0
toml==0.10.2
tomlkit==0.13.2
torch==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.0
transforms==0.2.1
translate==3.6.1
translator==0.0.9
tree-sitter==0.24.0
twilio==8.13.0
twine==5.1.1
typer==0.17.3
types-python-dateutil==2.8.19.20240106
typing==3.7.4.3
typing_extensions==4.15.0
tzdata==2023.4
tzlocal==5.3.1
ultralytics==8.3.201
ultralytics-thop==2.0.17
uri-template==1.3.0
uritemplate==3.0.0
urllib3==2.5.0
ushlex==0.99.1
uvicorn==0.35.0
v==1
voluptuous==0.9.3
watchdog==6.0.0
wcwidth==0.1.7
webcolors==1.13
webencodings==0.5.1
websocket_client==0.35.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wordcloud==1.9.3
wrapt==2.0.0
wsproto==1.3.1
xyzservices==2025.1.0
yarl==1.9.4
zipp==3.20.2
zope.event==5.0
zope.interface==7.2